[Unit]
Description=⚛️ Science United / BOINC - help scientific research projects by giving them idle computing power
Documentation=https://scienceunited.org/ man:boinc(1) https://boinc.berkeley.edu/
Wants=podman.service vboxdrv.service network-online.target
After=podman.service vboxdrv.service network-online.target
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ReadWritePaths=-/var/lib/boinc -/etc/boinc-client -/tmp -/var/tmp
User=boinc
WorkingDirectory=/var/lib/boinc
ExecStart=/usr/bin/boinc --no_gui_rpc
ExecStop=/usr/bin/boinccmd --quit
ExecReload=/usr/bin/boinccmd --read_cc_config
ExecStopPost=/usr/bin/rm -f lockfile
# We want the user to have a good experience. BOINC is non-essential but appreciated to work in the background.
# This provides a much smoother "QoS" type resource usage distribution.
IOSchedulingClass=3
CPUSchedulingPolicy=idle
Nice=19
CPUWeight=1

# CommonSnippet - Daemons
Restart=on-failure
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
