[Unit]
Description=⚛️ Science United / BOINC - help scientific research projects by giving them idle computing power
Documentation=https://scienceunited.org/ man:boinc(1) https://boinc.berkeley.edu/
Wants=vboxdrv.service network-online.target
After=vboxdrv.service network-online.target
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ReadWritePaths=-/var/lib/boinc -/etc/boinc-client -/tmp -/var/tmp
User=boinc
WorkingDirectory=/var/lib/boinc
ExecStart=/usr/bin/boinc --no_gui_rpc
ExecStop=/usr/bin/boinccmd --quit
ExecReload=/usr/bin/boinccmd --read_cc_config
ExecStopPost=/usr/bin/rm -f lockfile

# CommonSnippet - Daemons
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
Restart=on-failure
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
