[Unit]
Description=💽 Discard unused filesystem blocks to improve disk access efficiency and longevity
Documentation=man:fstrim
ConditionVirtualization=!container
ConditionPathExists=!/etc/initrd-release

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=12h

[Install]
WantedBy=timers.target
