[Unit]
Description=Adaptive readahead daemon
After=basic.target

[Service]
Type=forking
ExecStart=/usr/bin/preload -n 19
Restart=always
User=root
IOSchedulingClass=3
Nice=19
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
