[Unit]
Description=RPM-OSTree status reporting
Documentation=man:rpm-ostree-countme.service(8)
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=rpm-ostree
DynamicUser=yes
StateDirectory=rpm-ostree-countme
StateDirectoryMode=750
ExecStart=rpm-ostree countme
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
