[Unit]
Description=🔄️ For RPM-OSTree only, Updates the system for having access to the latest changes and potential bug fixes and security patches
Documentation=man:rpm-ostree(1) man:rpm-ostreed.conf(5) https://coreos.github.io/rpm-ostree/
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=600

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/rpm-ostree upgrade -q --trigger-automatic-update-policy --allow-downgrade --bypass-driver

# CommonSnippet - Daemons
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
Restart=on-failure
RestrictRealtime=false
RestartSec=60
StartLimitBurst=5
StartLimitIntervalSec=300

[Install]
WantedBy=multi-user.target
