[Unit]
Description=⌚️ RPM-OSTree component that anonymously tracks the approximate age of the system installation, no personal info sent
Documentation=man:rpm-ostree-countme.timer(8)
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

[Timer]
OnUnitInactiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
