[Unit]
Description=Auto-update enforcer exclusive for RPM-OSTree
Documentation=man:rpm-ostree(1) man:rpm-ostreed.conf(5)
ConditionPathExists=/run/ostree-booted
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
