[Unit]
Description=🔄️ UUpd, Updates system to get possible latest changes, bug fixes, security patches
After=network-online.target
Wants=network-online.target

[Timer]
# The Fedora Project's own docs suggest updating "on an almost daily basis", and this uses experimental/prerelease versions of software

# Method A: - Better suited, efficient
# AccuracySec=4h - allows timers to be auto-rescheduled and coalesced within the NEXT 4 hours to prevent unnecessary CPU wake-ups
# Persistent=true - tries to run the target if the time to be ran is due
# OnCalendar=00,04,08,12,16,20:00:00 UTC - attempt to run 6 times day, and this can be forced to follow a specific timezone, here UTC
Persistent=true
OnCalendar=00,04,08,12,16,20:00:00 UTC
AccuracySec=4h

# Method B: - Accurate, but unnecessary contextual reliance
# Fires 6 hours later, relative to previous run of the service
# Relative to the time last ran, not the wall clock
# If a service unit never deactivates because it crashes or hangs indefinitely, the OnUnitInactiveSec timer will not restart
# it automatically because the inactive state is never reached. This can definitely cause issues, so OnBootSec can help resolve that by providing a definite time.
# If the service state is lost or it has never run, this guarantees the first run, providing a reference timestamp for OnUnitInactiveSec
#OnBootSec=20min
#OnUnitInactiveSec=6h
#Persistent=true

[Install]
WantedBy=timers.target
