[Unit]
Description=🔄️ UUpd, Updates system to get possible latest changes, bug fixes, security patches
After=network-online.target
Wants=network-online.target

[Timer]
# Fires 6 hours later, relative to previous run regardless of source
# Timezone-immune
# Thus, OnUnitInactiveSec is efficient

# The Fedora Project's own documentation recommends updating "on an almost daily basis", as this uses rawhide repos

OnUnitInactiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
