[Unit]
Description=🔄️ UUpd, Updates system to get possible latest changes, bug fixes, security patches
Documentation=https://github.com/ublue-os/uupd
After=network-online.target 
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=600

[Service]
Type=oneshot
ExecStart=/usr/bin/uupd --log-level debug --json -c -f
User=root
# Minimum battery percent should be 65
Environment="UUPD_BATTERY_MIN_PERCENT=65"
# Only 95% of RAM can be consumed
Environment="UUPD_MEMORY_MAX_PERCENT=90"
# Only 85% of CPU time can be used
Environment="UUPD_CPU_MAX_LOAD_PERCENT=85"
# Set SELinux context unconfined as bootc requires some special perms for relabeling (install_t????)
SELinuxContext=system_u:unconfined_r:unconfined_t:s0

# CommonSnippet - Daemons
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
RestrictRealtime=false

# CommonSnippet - Daemons
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
