[Unit]
Description=System Updates enforcer
Wants=network-online.target

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
