[Unit]
Description=🔄️ UUpd, Updates system to get possible latest changes, bug fixes, security patches
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=600

[Service]
Type=oneshot
ExecStart=/usr/bin/uupd --log-level debug --json -c --quiet --diable-progress
User=root
# Minimum battery percent should be 35
Environment="UUPD_BATTERY_MIN_PERCENT=35"
# Set SELinux context unconfined as bootc requires some special perms for relabeling (install_t????)
SELinuxContext=system_u:unconfined_r:unconfined_t:s0

# CommonSnippet - Daemons
IOSchedulingClass=2
IOSchedulingPriority=7
Nice=19
Restart=on-failure
RestrictRealtime=false
RestartSec=60
StartLimitBurst=5
StartLimitIntervalSec=300

[Install]
WantedBy=multi-user.target
