[Unit]
Description=Discard unused filesystem blocks
Documentation=man:fstrim
ConditionVirtualization=!container
ConditionPathExists=!/etc/initrd-release

[Timer]
OnCalendar=weekly
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
