[Unit]
Description=PlayIt Agent for port forwarding
Documentation=https://playit.gg
Wants=network-pre.target
After=network-pre.target NetworkManager.service systemd-resolved.service

[Service]
ExecStart=/opt/playit/playit --secret_path /etc/playit/playit.toml start
IOSchedulingPriority=6
Restart=always
Nice=15
User=root

[Install]
WantedBy=multi-user.target
