[Unit]
Description=Automatic Power Management commander
After=basic.target
Before=shutdown.target

[Service]
User=root
Type=simple
ExecStart=/bin/tlp init start
IOSchedulingPriority=6
Restart=always
RestartSec=30
Nice=10

[Install]
WantedBy=multi-user.target
