[Unit]
Description=Power Management
After=basic.target
Before=shutdown.target

[Service]
User=root
Type=simple
ExecStart=/bin/tlp init start
IOSchedulingPriority=6
Restart=always
RestartSec=1
Nice=10

[Install]
WantedBy=multi-user.target
