[Unit]
Description=Auto-updater exclusive for RPM-OSTree
Documentation=man:rpm-ostree(1) man:rpm-ostreed.conf(5)
ConditionPathExists=/run/ostree-booted
StartLimitBurst=3
StartLimitIntervalSec=600
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/rpm-ostree upgrade -q --peer --trigger-automatic-update-policy --allow-downgrade --bypass-driver
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Nice=19
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
