[Unit]
Description=System updater
StartLimitBurst=3
StartLimitIntervalSec=600
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/uupd --log-level debug --json --hw-check
SELinuxContext=system_u:unconfined_r:unconfined_t:s0
User=root
# Restart for edge cases like waking from suspend and no immediate internet connectivity 
Restart=on-failure
# Set SELinux context unconfined as bootc requires some special perms for relabeling (idk about install_t????)
SELinuxContext=system_u:unconfined_r:unconfined_t:s0
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Nice=19
RestrictRealtime=false
RestartSec=60

[Install]
WantedBy=multi-user.target
